<h2>Gestion des réservations</h2>

<div *ngIf="loadError" class="alert alert-danger" role="alert">
  <div>{{ loadError }}</div>

  <button
    type="button"
    class="btn btn-danger mt-2"
    (click)="loadData()">
    Réessayer
  </button>
</div>

<div
  *ngIf="loading"
  class="alert alert-info"
  role="status">

  <span
    class="spinner-border spinner-border-sm"
    aria-hidden="true">
  </span>

  Chargement des réservations...
</div>

<div *ngIf="!loading && !loadError">

  <app-reservation-form
    [books]="books"
    [users]="users"
    [currentUserId]="currentUserId"
    [isUserMode]="!isAdminMode"
    [errorMessage]="formError"
    (submitted)="createReservation($event)">
  </app-reservation-form>

  <app-reservation-list
    [reservations]="paginatedReservations"
    [selectedStatus]="selectedStatus"
    [statuses]="statuses"
    [errorMessage]="actionError"
    (statusChange)="onStatusChange($event)"
    (cancelRequested)="cancelReservation($event)"
    (deleteRequested)="deleteReservation($event)">
  </app-reservation-list>

  <div
  *ngIf="totalPages > 1"
  class="d-flex justify-content-between align-items-center mt-3">

  <button
    type="button"
    class="btn btn-outline-primary"
    [disabled]="currentPage === 1"
    (click)="previousPage()">

    Précédent

  </button>

  <span>
    Page {{ currentPage }} sur {{ totalPages }}
  </span>

  <button
    type="button"
    class="btn btn-outline-primary"
    [disabled]="currentPage === totalPages"
    (click)="nextPage()">

    Suivant

  </button>

</div>

</div>